<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @user.avatar, class: "img-responsive center-block img-circle "%>
    </div>
    <table class='col-md-8'>
      <tr style='height:50px'>
        <td><h2><%= @user.name %></h2></td>
      </tr>
      <tr style='height:50px'>
        <td><strong><%= @user.email %></strong></td>
      </tr>
      <tr style='height:50px'>
        <td><p><%= truncate(simple_format(@user.intro), length:80) %></p></td>
      </tr>
      <% if current_user == @user %> 
        <tr style='height:50px'>
          <td><%= link_to 'Edit Profile' , edit_user_path(@user) ,class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    </table>
    <div class="clearfix"></div>
   </div>
 </div>
 <br>

 <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @commented_restaurants.count() %>則已評論餐廳</h3>
  </div>
  <div class="panel-body">
    <% @commented_restaurants.each do |restaurant|%>
      <div class='my-restaurant'>
      <%= link_to restaurant_path(restaurant) do %>
        <%= image_tag restaurant.image, class: "img-responsive img-rounded restaurantImage" %>
        <%= restaurant.name %>
      </div>
    <% end %>
    <% end %>
  </div>
 </div>
