<% if @restaurant.errors.present? %>
  <ul>
    <% @restaurant.errors.each do |error,message| %>
      <li><%= "#{error.capitalize} #{message}" %></li>
    <% end %>
  </ul>
<% end %>

<h1> 請新增餐廳資訊</h1>
<br>
<%= form_for [:admin , @restaurant] do |f| %>
  <%= f.label :name , 'Name' %>
  <%= f.text_field :name %>

  <%= f.label :tel , 'Tel' %>
  <%= f.text_field :tel %>
\
  <%= f.label :affress , 'Address' %>
  <%= f.text_field :address %>

  <%= f.label :opening_hours , '營業時間' %>
  <%= f.text_field :opening_hours %>

  <%= f.label :description , 'Description' %>
  <%= f.text_field :description %>

  <%= f.submit %>
<% end %>