<div class="container">
  <div>
   <h1 class='col-md-6'>餐廳後台</h1>
   <%= link_to 'New Restaurant', new_admin_restaurant_path, class: "btn btn-primary col-md-2 col-md-offset-2" %>
  </div>
       <br>
       <table class="table table-striped table-bordered">
         <thead>
           <tr>
             <th>Restaurant Name</th>
             <th>Function</th>
           </tr>
         </thead>
         <tbody>
           <% @restaurants.each do |restaurant| %>
           <tr>
             <td><%= restaurant.name %></td>
             <td>
               <%= link_to 'Show', admin_restaurant_path(restaurant) %>
               <%= link_to 'Edit', edit_admin_restaurant_path(restaurant) %>
               <%= link_to 'Delete', admin_restaurant_path(restaurant), method: :delete, data: { confirm: "Are you sure?"} %>
             </td>
           </tr>
           <% end %>
         </tbody>
       </table>
       <div class="text-center">
         <%= paginate @restaurants %>
       </div>
 </div>