<div class="container">
  <div class="row">
    <div class="col-md-12" , style='padding-bottom: 10px'>
      <h1><%= @restaurant.name %></h1>
      <p class="label label-primary"><%= @restaurant.category.name %></p>
    </div>

    <div class="col-md-4">
      <%= image_tag @restaurant.image, class: "img-responsive center-block" %>
       <br>
       <div class="well">
         <ul class="list-unstyled">
           <li><strong>Opening Hour:</strong> <%= @restaurant.opening_hours %></li>
           <li><strong>Tel:</strong> <%= @restaurant.tel %></li>
           <li><strong>Address:</strong> <%= @restaurant.address %></li>
         </ul>
       </div>
     </div>
     <div class="col-md-8">
       <%= simple_format @restaurant.description %>
     </div>
     <div class="clearfix"></div>
     <%= link_to 'back to index', root_path, class: "btn btn-primary" %>
     <hr>
     <hr>
   </div>
 </div>
<div class='container'>
  <div>
    <% @restaurant.comments.each do|comment|%>
    <div>
      <h4><%= comment.user.email.split('@')[0] %></h4>
      <p><%= simple_format comment.content %></p>
      <em><%= time_ago_in_words(comment.created_at)+' ago-' %></em>
      <% if current_user.admin? %>
        <%= link_to 'Delete',restaurant_comment_path(@restaurant,comment),method: :delete %>
        <!--- 因為在路由設定裡， Restaurant 和 Comment 是巢狀的關係，在使用 Comment 時，都需要傳入，所以我們的 Path Helper 寫成 restaurant_comment_path(@restaurant, comment)-->
      <% end %>
    </div>
    <br>
    <% end %>
  </div>

  <div class='row'>
    <%= form_for [@restaurant, @comment] do |f| %>
      <div class='form-group'>
        <%= f.text_area :content, placeholder: "留個言吧", class:'form-control' %>
      </div>
      <div class='form-group'>
        <%= f.submit class:'btn btn-primary'%>
        <%= f.button "Cancel", type: :reset, class:'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>

 